.projects-container {
    padding: 0 5rem;
}

.project-page-title {
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
    max-width: auto;
    margin: 0 auto;
    justify-items: start;
}

/* ------------------- Responsive Design ------------------- */

/* QUITE LARGE TABLET */
@media (max-width: 1440px) {

}

/* LARGE TABLET */
@media (max-width: 1280px) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

/* TABLET */
@media (max-width: 1024px) {
    .projects-container {
        padding: 0 3rem;
    }

    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    }
}

/* PHONE */
@media (max-width: 768px) {
    .projects-container {
        padding: 0 1rem;
    }

    .card-grid {
        grid-template-columns: 2fr;
    }
}