/* Main About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 2rem 2rem;
}

/* About Content Container */
.about-container {
    display: flex;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    /*background-color: var(--bg-color);*/
    padding: 2rem;
    border-radius: 15px;
    /*box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);*/
}

/* Text Section */
.about-text {
    flex: 1;
    text-align: left;
    padding: 2rem;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.underline-wrapper {
    display: inline-block;
    position: relative;
  }
  
  .underline-title {
    height: 0.25rem;
    background-color: var(--hover-color);
    border: none;
    margin: 0.3rem 0 1rem 0;
    transform-origin: left;
  }

.about-text p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--text-primary);
}


/* Profile Picture Container */
.profile-container {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile Picture Styling */
.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    /* Prevents stretching */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

/* Smooth Floating Effect */
.profile-pic:hover {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1280px) {
    .profile-container {
        margin-top: 1.5rem;
    }

    .profile-pic {
        width: 250px;
        height: 250px;
    }

    .about-text p {
        font-size: 1.2rem;
    }
}


@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        margin: 3rem 0;
    }

    .profile-container {
        margin-top: 1.5rem;
    }

    .about-text h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }

}

/* Responsive Design */
@media (max-width: 768px) {
    .about {
        min-height: 40vh;
    }

    .profile-pic {
        width: 175px;
        height: 175px;
    }

    .about-text p {
        font-size: 1rem;
    }

    .contact-section {
        gap: 0.5rem;
    }

    .mail-link {
        font-size: 1rem;
    }

    .mail-icon {
        font-size: 1rem;
    }

}