.sc-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 5rem;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.sc-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.sc-description {
    text-align: left;
    color: var(--text-primary);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.sc-mockups {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;
}

.phone-frame {
    width: 100%;
    height: auto;
}

.sc-features {
    text-align: left;
    width: 100%;
}

.sc-features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sc-features ul {
    list-style: none;
    padding: 0;
}

.sc-features li {
    margin-bottom: 3rem;
}

.sc-links {
    text-align: center;
    margin-top: 2rem;
}

.sc-link {
    display: block;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 1rem;
}

.sc-link:hover {
    text-decoration: underline;
}

.download-links {
    display: flex;
}

.app-store-badge-container {
    width: 120px;
    padding: 0.5rem;
}

.google-play-badge-container {
    width: 150px;
}

.app-store-badge {
    max-width: 100%;
    height: auto;
}

.google-play-badge {
    max-width: 100%;
    height: auto;
}

.divider {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
}

/* Responsive Design */
@media (max-width: 768px) {

    .sc-page {
        font-size: 1rem;
        margin: 0 1.5rem;
        padding: 2rem 0;
    }

    .sc-mockups {
        height: 225px;
        width: 300px;
        gap: 1rem;
        margin: 2rem 2rem 3rem 2rem;
    }

    .sc-description {
        font-size: 1rem;
    }

    .sc-features {
        margin-top: 1.5rem;
    }

    .sc-features h2 {
        font-size: 1.5rem;
    }

    .sc-features h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .sc-features li {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}