.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
    background-color: transparent;
}

/* Navbar links */
.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.home-button:hover{
    cursor: pointer;
}

.nav-link {
    font-weight: 300;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--hover-color);
}

/* Title + Theme Toggle Container */
.nav-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

/* Dark Mode Toggle */
.nav-theme-mode {
    display: flex;
    /* Ensures proper alignment */
    align-items: center;
    /* Centers vertically */
    justify-content: center;
    /* Centers horizontally */
    text-align: center;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    transition: color 0.3s ease;
    /* Makes sure it takes full height */
}

.nav-theme-mode:hover {
    color: var(--hover-color);
}

/* Title Styling */
.nav-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
}

.static {
    position: static;
    margin-right: 1rem;
}

.fixed {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.mobile-message{
    display: flex;
    align-items: center;
    /* Centers vertically */
    justify-content: center;
}

.heart-icon{
    margin: 0 0.3rem;
    color: #ff7c7c;
}

/* --------------------------- HAMBURGER --------------------------- */

.hamburger-menu {
    cursor: pointer;
    display: none;
    color: var(--text-primary);
    ;
    z-index: 9999;
}

.line {
    stroke-width: 4;
    stroke-linecap: round;
    stroke: var(--text-primary);
    ;
    transition: all 500ms;
}

.top {
    transform-origin: 26px 40px;
}

.middle {
    stroke-dasharray: 60 60;
}

.bottom {
    transform-origin: 26px 60px;
}

/* Change line colors on open */
.hamburger-menu.open .line {
    stroke: #ff7c7c;
}

/* Animation when the menu is open */
.hamburger-menu.open .top {
    transform: rotate(45deg);
}

.hamburger-menu.open .middle {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.hamburger-menu.open .bottom {
    transform: rotate(-45deg);
}

/* Fullscreen Menu Overlay */
.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

/* Fullscreen menu links */
.fullscreen-links {
    list-style-type: none;
    padding: 0;
}

.fullscreen-links li {
    margin: 1rem 0;
}

.fullscreen-links a {
    font-size: 2rem;
    color: var(--text-primary);
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fullscreen-menu {
        padding-top: 2rem;
    }

    .nav-theme-mode {
        font-size: 1.5rem;
    }

    .nav-title {
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: 500;
    }
}