.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000; /* Proper stacking above page content */
    background-color: transparent; /* Ensure it's visible and doesn’t blend with the red */
}

/* Navbar links */
.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

a {
    display: inline-block; /* or block if you want full-width clickable links */
    font-weight: 300;
    color: var(--text-primary);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
}

a:hover{
    transform: scale(1.1);
    color: #14248a;
}
/* Title styling */
.nav-title {
    color: var(--text-primary);;
    font-size: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    z-index: 1;
}

/* --------------------------- HAMBURGER --------------------------- */

.hamburger-menu {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    color: var(--text-primary);;
    z-index: 9999;
}

.line {
    stroke-width: 2;
    stroke-linecap: round;
    stroke: var(--text-primary);;
    transition: all 500ms;
}

.top {
    transform-origin: 26px 40px;
}

.middle {
    stroke-dasharray: 60 60;
}

.bottom {
    transform-origin: 26px 60px;
}

/* Change line colors on open */
.hamburger-menu.open .line {
    stroke: #ff7c7c;
}

/* Animation when the menu is open */
.hamburger-menu.open .top {
    transform: rotate(45deg);
}

.hamburger-menu.open .middle {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.hamburger-menu.open .bottom {
    transform: rotate(-45deg);
}

/* Fullscreen Menu Overlay */
.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f7f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

/* Fullscreen menu links */
.fullscreen-links {
    list-style-type: none;
    padding: 0;
}

.fullscreen-links li {
    margin: 1rem 0;
}

.fullscreen-links a {
    font-size: 2rem;
    color: #020100;
    text-decoration: none;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fullscreen-menu{
        padding-top: 2rem;
    }

    .nav-title {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 0rem;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fullscreen-menu{
        padding-top: 2rem;
    }

    .nav-title {
        font-size: 1rem;
        padding-left: 2rem;
        padding-right: 0rem;
        font-weight: 500;
    }
}