@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* ------------------------ HEX ------------------------ */
  /* Background */
  --bg-color: #F5F7FA;
  /* Soft white-gray */
  --bg-alt: #E3E8EE;
  /* Slightly darker alternative background */

  --very-white: #FEFEFE;
  /* Text */
  --text-primary: #1E2A38;
  /* Deep blue */
  --text-secondary: #4F6F8F;
  /* Muted blue-gray */
  --text-tertiary: #6B7D96;
  /* Soft mid-gray */
  --text-muted: #A3B1C6;
  /* Light gray for less emphasis */

  /* Accent & Hover */
  --hover-color: #4098D7;
  /* Bright blue hover */
  --hover-alt: #3686BF;
  /* Darker blue hover */
  --accent-color: #1E88E5;
  /* Vivid blue accent */
  --accent-alt: #0D5DA8;
  /* Deep navy accent */

  /* RGBA */
  --bg-color-rgb: rgba(245, 247, 250, 1);
  --text-primary-rgb: rgb(30, 42, 56);
  --text-secondary-rgb: rgb(79, 111, 143);
  --hover-color-rgb: rgb(64, 152, 215);
  --accent-color-rgb: rgb(30, 136, 229);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode */
[data-theme="dark"] {

  /* ------------------------ HEX ------------------------ */

  /* Background */
  --bg-color: #121F30;
  /* Deep navy blue */
  --bg-alt: #1A2B42;
  /* Slightly lighter alternative */

  /* Text */
  --text-primary: #E1E8F0;
  /* Soft white */
  --text-secondary: #8FA6C3;
  /* Light blue-gray */
  --text-tertiary: #B0C1DB;
  /* Mid-light grayish blue */
  --text-muted: #60728A;
  /* Muted gray-blue for less important text */

  /* Accent & Hover */
  --hover-color: #4098D7;
  /* Bright blue hover */
  --hover-alt: #2E7FB9;
  /* Slightly muted hover */
  --accent-color: #4A90E2;
  /* Vibrant sky blue */
  --accent-alt: #256AA5;
  /* Darker ocean blue */

  /* ------------------------ RGB ------------------------ */

  --bg-color-rgb: rgb(18, 31, 48);
  --text-primary-rgb: rgb(225, 232, 240);
  --text-secondary-rgb: rgb(143, 166, 195);
  --hover-color-rgb: rgb(64, 152, 215);
  --accent-color-rgb: rgb(74, 144, 226);
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}